h3,h4{
    margin: 0 !important;
}

fieldset,table{
	margin:0 !important;
	padding: 0 !important;
}

.content{
    font-size: 12px !important;
    /*padding: 5px !important;*/
}

.content a, .content th{
    font-size: 12px;
}

a, td, th{
    padding:0 !important;
    width: auto;
}

.top-bar-section .center li a, .top-bar-section .right li a{
    padding-left:15px !important;
    padding-right:15px !important;
}
th{
    width: 100px !important;
    margin:0 !important;
}

.center{
    text-align: center !important;
}

.personnages input {
    width:200px !important;
    height: auto !important;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: center;
    font-size:12px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -box-shadow:10px 10px 10px black inset !important;
    border-radius: 10px !important;
    background: transparent !important;
}

.decale{
    display:inline-block;
    float: left;
    /*margin-left:18%;*/
}
.decaleRight{
    float: left;
    margin-left:3px;
    /*transform: translateY(50%);*/
    font-size:10px !important;
}

.medium-block{
    width:30%;
    display:inline-block;
    margin-left: 2%;
    margin-top:5px;
    font-size:12px !important;
}

.vertical-table th {
   font-size:12px !important; 
}

