h3,h4{
    margin: 0 !important;
}

fieldset,table{
	margin:0 !important;
	padding: 0 !important;
}

.content{
    font-size: 12px !important;
    /*padding: 5px !important;*/
}

.content a, .content th{
    font-size: 12px;
}

.c{
    width: 190px;
    margin:0 auto !important;
    text-align: center;
}

a, td, th{
    padding:0 !important;
    width: auto;
}

td,th{
    font-size: 12px !important;
}

.top-bar-section .center li a, .top-bar-section .right li a{
    padding-left:15px !important;
    padding-right:15px !important;
}
th{
    width: 100px !important;
    margin:0 !important;
}

.center{
    text-align: center !important;
}

input {
    width:190px !important;
    height: auto !important;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: center;
    font-size:12px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: transparent !important;
}



input[type="number"] {
    padding-left:12px !important;
}
.big-hole{
    width:180px !important;
    height: 60px;
    margin: 0 auto !important;
    /*border: 1px solid GREY;*/
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.8);
    background: transparent !important;
    text-align: center;
    font-size:12px !important;
}
.decale{
    display:inline-block;
    float: left;
    width: 190px;
    /*margin-left:18%;*/
}
.decaleRight{
    float: right;
    /*margin-left:3px;*/
    /*transform: translateY(50%);*/
    font-size:10px !important;
}

.medium-block{
    width:30%;
    display:inline-block;
    margin-left: 2%;
    margin-top:5px;
    font-size:12px !important;
}

.vertical-table th {
   font-size:12px !important; 
}

img{
    height: 30px !important;
}
img:hover{
    background: rgba(179,172,173,0.5);
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}

.btext{
    font-size : 12px !important;
    color : #80622B;
    font-weight: bold;
}

.fat a{
    font-size: 18 !important;
    font-weight: bold;
}

.adaptative-block{
    width:420px !important;
    display:inline-block;
    margin-top: 5px;
    font-size:12px;
}
.armes{
    margin:0 auto !important;
    width:100% !important;
    position: relative;
    table-layout:fixed;
}

.title-categorie{
    font-weight: bold;
    color:#520303;
}

.armes td, .armes th{
    text-align: center;
}

.back_armes{
    background: rgba(99,99,99,0.2) !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    padding-bottom: 5px;
}

.armes .armes-long{
    width: 70px !important;
}
.armes .armes-court{
    width: 50px !important;
}
.armes img{
    height:18px !important;
}
.THH{
    background: rgba(140,140,140,0.4) !important;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px; 
    padding: 5px !important;
}

.PH{
    background: rgba(245,91,91,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

.AD{
    background: rgba(242,142,56,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

.SO{
    background: rgba(68,168,62,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;    
}

.ES{
    background: rgba(163,190,199,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;    
}
.MM{
    background: rgba(163,190,199,0.4) !important;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px; 
    padding: 5px !important;
}

.PV{
    background: rgba(255,23,23,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;    
}

.PM{
    background: rgba(134,72,163,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;    
}

.CA{
    background: rgba(165,167,168,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;    
}

.PD{
    background: rgba(235,197,45,0.4) !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;    
}
